// .bg_education {
//     margin-top: 0px;
//     width: 100%;
//     height: 950px;
//     background-image: url('../images/bg_education.jpg');
//     background-size: cover;
//     background-attachment: fixed;
//     background-position: center;
// }

.education{
    background: linear-gradient(to right,  #A64C4C, #800000);
    color: white;
    box-shadow: 50px 20px 50px 20px #C96464;
    width: 50%;
    border: 15px #660000;
    padding: 50px;
    margin-left: 400px;;
   // border: 15px #660000;
    height: 600px; 
    padding-bottom: 20px;
    position: absolute;
    top: 190px;
}
.heading{
    font-size: 3.6rem;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}
.diploma {
    height: 120px;
    margin-top: 45px;
    margin-right: 150px;
    margin-bottom: 20px;
    font-weight: bold;
    
}
.diploma_image{
    border-radius: 20%;
    float: left;
    box-shadow: 10px 5px 10px 5px white; 
    margin: 0px 20px 10px;
    height: 120px;
}
.diploma_details {
    margin: 50px 10px 10px 70px;
    padding-top: 10px;
    width: 700px;
}
.name,.dates,.institute{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.4rem;
}
// .dates{
//     font-family: 'Times New Roman', Times, serif;
//     font-size: 1.4rem;
// }
// .institute{
//     font-family: 'Times New Roman', Times, serif;
//     font-size: 1.4rem;
// }
.bachelors{
    height: 120px;
    margin-top: 50px;
    // margin-left: 100px;
    font-weight: bold;
}
.bachelors_image{
    border-radius: 20%;
    float: left;
    box-shadow: 10px 5px 10px 5px white; 
    margin: 0px 20px 10px;
    height: 120px;
}
.bachelor_details {
    margin: 50px 10px 10px 70px;
    width: 700px;
    padding-top: 20px;
}