
.container {
  width: 100%;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 2;
}
.logo-container, .nav-links {
  display: flex;
}
.logo-container {
  flex: 1;
  background: #800000;
  height: 55px;
 
}
// .logo-image {
//   height: 5vh;
//   width: 10%;
//   margin: 15px 8px 15px 55px;
// }
.logo {
  font-weight: 400;
  font-size: 18px;
  font-style: italic;
  justify-content: center;
  margin: 20px 8px 15px 95px;
  height: 3vh;
  color: white;
}
nav {
  flex: 2;
  background: #800000;
  height: 55px;
  overflow: hidden;
}

.nav-links {
  // height: 10vh;
  justify-content: space-around;
  list-style: none;
  margin-top: 16px;
}
// .active {
//   background-color: orange;
// }
.nav-link {
  color: white;
  font-size: 18px;
  // height: 10vh;
  // margin-top: 10px;
  padding: 17px 15px;
  text-decoration: none;
  transition: 0.5s;
  // line-height: 1.8;
}

.nav-link:hover {
  background-color: black;
  color: white;
}

  // .nav-link:hover:not(.active) {
  //       background-color: green;
  //     }

     // .nav {
//   overflow: hidden;
//   background-color: #333;
//  // position: -webkit-sticky;
//   position: fixed;
//   top: 0;
//   width: 100%;
// }

// .ul {
//   text-align: center;
//   list-style-type: none;
//   list-style-type: none;
//   margin: 0;
//   padding: 15px;
// }
// .li {
//   display: inline;
//   font-family: "Fira Sans", sans-serif;
//   font-size: 17px;
// }
// .a {
//   color: #f2f2f2;
//   text-decoration: none;
//   padding: 14px;
// }

// // a.hover {
// //   background-color: #111;
// // }
// a:hover:not(.active) {
//   background-color: #111;
// }

// .active {
//   background-color: rgb(175, 76, 76);
// }
// ul {
//     list-style-type: none;
//     margin: 0;
//     padding: 0;
//     overflow: hidden;
//     background-color: #333;
//   }
  
//   li {
//     float: left;
//   }
  
//   li a {
//     display: block;
//     color: white;
//     text-align: center;
//     padding: 14px 16px;
//     text-decoration: none;
//   }
  
//   li a:hover:not(.active) {
//     background-color: #111;
//   }