
// .bg_skills {
//     margin-top: 0px;
//     width: 100%;
//     height: 950px;
//     background-image: url('../images/skills_bg.jpg');
//     background-size: cover;
//     background-attachment: fixed;
//     background-position: center;
// }
.skills {
    background: linear-gradient(to right,  #A64C4C, #800000);
    color: white;
    box-shadow: 50px 20px 50px 20px #C96464;
    width: 75%;
    border: 15px #660000;
    padding: 50px;
    margin-left: 190px;
   // border: 15px #660000;
    height: 600px;   
    position: absolute;
    top: 200px;
}

.skills__heading {
    // margin-top: 25px;
    font-size: 3.6rem;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    padding-bottom: 15px;
}
// .frontData {
//     // display: flex;
//     column-count: 3;
// }
// .skills__frontEnd {   
//     padding-top: 20px; 
//     // width: 25%;
//     // padding: 20px 35px;
//     // border-radius: 8px;
//     // border:2px solid #C0C0C0 ;
//     // box-shadow: 10px 10px 5px #ccc;
// }
.frontEnd {
    margin: 80px;
    // left: 100px;
    float: left;
    width: 250px;
    height: 250px;
    border-radius: 20%;
    border-width: 4px;
    // box-shadow: 20px 20px 50px 15px white;
}
// .skills__databases {
//     padding-top: 20px; 
//     // width: 25%;
//     // padding: 20px 35px;    
// }
.databases {
    margin: 80px;
    float: left;
    width: 250px;
    height: 250px;
    border-radius: 20%;
    border-width: 4px;
    // box-shadow: 20px 20px 50px 15px white;
    //padding: 20px 35px;
}
// .skills__tools {
//     padding-top: 20px; 
//     // width: 25%;
//     // height: 240px;
//     // padding: 20px 35px;
// //    position: absolute;
// //    top: 100px;
// //    right: 50px;

// }
.tools {
    margin: 80px;
    float: left;
    width: 250px;
    height: 250px;
    border-radius: 20%;
    border-width: 4px;
    // box-shadow: 20px 20px 50px 15px white;
    //padding: 20px 35px;
}